
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    align-items: center;
    font-weight:lighter;}

.acceuil-body{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    font-weight:lighter;}

.conteneur {
    flex: 1;  /* Cela pousse le footer en bas si le contenu est trop court */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

footer {
    width: 100%; /* Prend toute la largeur */
    background-color: #333; /* Fond foncé pour bien se démarquer */
    color: white; /* Texte blanc */
    text-align: center; /* Centrer le texte */
    padding: 20px 0; /* Espacement intérieur */
    position: relative;
    bottom: 0;
    left: 0;
}

.bouton-admin {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222; /* Fond sombre */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.bouton-admin:hover {
    background-color: #444; /* Un peu plus clair au survol */
    transform: scale(1.05);
}


.profil-body{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: white;
    font-weight:lighter;}

.nav-ins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bouton-ins{display: inline;
    color: white;
    background-color:#00627B ;
    text-decoration: none;
    font-size: 255%;
    align-content : center ;
    text-align: center;
    width: 20%;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
;}

h1{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    background-color: #00627B;
    text-align: center; color: white;
    font-size: 50px;
    border: 1px solid;}

h2{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    float: right;
    font-weight: lighter;
    font-style: italic;
    font-size : 35px}


.bouton{display: inline;
    color: white;
    text-decoration: none;
    font-size: 255%;
    align-content : center ;
    text-align: center;
    width: 20%;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
;}

.bouton-voyage {
    display: inline-block;
    color: #00627B; /* Texte en bleu pour rappeler le thème */
    background-color: white; /* Fond blanc pour un design épuré */
    text-decoration: none;
    font-size: 22px; /* Taille de police légèrement plus grande */
    padding: 12px 25px; /* Padding pour donner un peu d'espace autour du texte */
    border: 2px solid #00627B; /* Bordure bleu clair */
    border-radius: 30px; /* Coins arrondis pour un look moderne */
    font-weight: 500; /* Un peu plus de poids sur le texte pour le rendre plus visible */
    text-transform: uppercase; /* Texte en majuscules pour un effet visuel net */
    transition: all 0.3s ease; /* Transition douce lors du survol */
}


.bouton-voyage:hover {
    background-color: #00627B;
    color: white;
    border: 2px solid #00627B;
    transform: scale(1.1);
}



.div_image{position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("photos du site/northern-lights-5947608_1280.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;}

.div_image2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("photos du site/northern-lights-5947608_1280.jpg") no-repeat center center;
    background-size: cover;
    background-color:black;
}

.inscription{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background: #00627B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.bouton:hover{background-color: white;
    color: #00627B; text-decoration: none;
    align-content : center ;
    width: 220px;
    padding: 15px;
    border: 1px solid white;
;}

.bouton-ins:hover{background-color: white;
    color: #00627B; text-decoration: none;
    align-content : center ;
    width: 220px;
    padding: 15px;
    border: 1px solid white;
;}

.text{ transition: 0.3s;}
.text:hover{font-size : 250%}

.video-accueil{
    display: flex;
    align-items: center;
    align-content: flex-end;
    gap: 1%;
    width: 35%;
}
.text-accueil{
    font-size: 180%;
    width: 70%;
    min-width: 60%;
    flex : 1 ;
    text-align: left;
    gap: 10%;

}

.accueil-jspanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0; /* Évite tout écart supplémentaire */
    margin: 0;
    padding: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 10px; /* Espace entre les lignes */
}




h3{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: lighter;}

h4{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: lighter;}

h5{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: lighter;}

h6{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: lighter;}

.paragraphe{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin: 0px -10px;
    color: #00627B;
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
    border: #00627B 1px solid;
}

.inscription-page {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #f4f4f4;
}



.left-connexion {
    width: 50%;
    background: url('photos du site/paysages-norvege.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.left-inscription {
    width: 50%;
    background: url('photos du site/visiter-stockholm-neige.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.left_text{width: 50%;
    height: 100vh;
    left: 0;
    margin: 35px;
}


.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.accueil-fieldset{
    display: inline-block;
    padding: 0.8%;
    position: relative;
    width: 120%;
    height: auto;
    border-radius: 5px ;
    border : none;
    background: rgba(0, 0, 0, 0.8);
}

.inscr_fieldset{
    text-align: left ;
    width : 100% ;
    padding : 20px 10px;
    border-radius: 5px ;
    color : black;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap : 100px ;
}

.fieldset-voyage{
    width: 80%;
    max-width: 600px;
    padding: 1%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 20px auto;
    align-items: center;
    text-align: center;
    border : none;
}
.fieldset-footer{
    width: 100%;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 20px auto;
    align-items: center;
    text-align: center;
    border : none;
}

.modif_fieldset{
    flex-direction: column;
    font-size: 20px;
    text-align: left ;
    width : 20% ;
    padding : 20px 10px;
    border-radius: 5px ;
    color : black;
    background: white;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}



.input{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    display: inline;
    background: none;
    color: white;
    text-decoration: none;
    font-size: 40px;align-content : center ;
    text-align: center;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
;}

.search-button {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: lighter;
    background: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}
.search-button:hover {
    background: white;
    color: #00627B;
}

.voyage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.voyage-itinéraire{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.photo-profil {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1000;
}

@media (max-width: 1024px) {
    /* 🔸 Fieldset */
    .fieldset-voyage {
        width: 80%;
        padding: 25px;
    }

    .bouton-voyage {
        padding: 14px 24px;
    }
}

/* 🔹 Pour les grands écrans (plus de 1024px) */
@media (min-width: 1025px) {
    /* Tout est déjà configuré pour les grands écrans. */
}
