

*{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: lighter;}

.h1{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    padding: 10px;
    width: 42%;

font-weight: lighter;}

.div_fond{position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("photos du site/paysage-SC-fond.webp") no-repeat center center;
    background-size: cover;
    z-index: -1;}



.voyage {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 120px 20px 40px;
}

.voyage-card {
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Supprime le soulignement du lien /
    color: #E8871E; / Garde la couleur du texte */
}

.voyage-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.trek-img {
    width: 100%;
    border-radius: 10px;
}

.flag-img {
    width: 30px;
    height: auto;
    margin-top: 10px;
}

.voyage-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: white;
}

.voyage-description {
    font-size: 1rem;
    color: #F5D29C;
}

